@use 'sass:map';
@import '../styles/pages/_shared.scss';
@import '../styles/pages/_index.scss';
@import '../styles/pages/_cvmaker.scss';
@import '../../node_modules/include-media/dist/_include-media.scss';

body {
  font-size: 16px;
  background-color:darkgrey;
  margin: 0;
}

// Korisiti brojeve bez px, %, itd.
$designViewportWidths: (
  mobile: 375,
  largeDesktop: 1440
);

html {
  font-size: calc(100vw / #{map.get($designViewportWidths, 'largeDesktop')});
  @include media('<=tablet') {
    font-size: calc(100vw / #{map.get($designViewportWidths, 'mobile')});
  }
}