@import '../../../node_modules/include-media/dist/_include-media.scss';

h1{
    font-size: 100rem;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

:root{
    --highlight-color-left: #82C0CC;
    --background-color-left:#3943B7;
    --text-color-left: #ffffff;
    --highlight-color-right:#3943B7;
    --background-color-right:#ffffff;
    --text-color-right: #000505:
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

h4{
    font-size: 24rem;
    font-weight: bolder;
    word-wrap: break-word;

    @include media("<=tablet"){
        font-size: 16rem;
    }
}


h5{
    font-size: 22rem;
    font-weight: bolder;
    word-wrap: break-word;

    @include media("<=tablet"){
        font-size: 16rem;
    }
}

h6{
    font-size: 16rem;
    word-wrap: break-word;
    @include media("<=tablet"){
        font-size: 16rem;
    }
}

li{
    list-style-type: none;
}